DB_HOST=
DB_PORT=3306
DB_NAME=book_explorer
DB_USERNAME=
DB_PASSWORD=
VITE_API_URL=http://localhost:8080/api
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/book_explorer
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
